.booking-container{
    height: 100vh;
    width: 70%;
    border-radius: 10px;
    margin: 40px ;
    padding: 30px 60px;
}
.select{
    border-radius: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: SemiBold;
    letter-spacing: 1px;
}
.selected-station{
    padding: 20px 0px ;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: Bold;
    letter-spacing: 1px;
}
.explanation{
    color: #a7d3ec;
    font-size: 18px;

}
.line{
    width: 150px;
    height: 1px;
    margin: 10px 20px;
  }
  .line2{
    width: 410px;
    height: 1px;
    margin: 10px 20px;
  }
  .padding-60{
padding-top: 70px;
  }
  .name{
    padding: 20px 0px ;
    color: #ffffff;
    font-size: 24px;
  }
  .line3{
    width: 600px;
    height: 1px;
    margin-top: 20px;
  }
  .padding-20{
    padding-top: 20px;
  }
  .padding-10{
    padding-top: 10px;
  }
  .padding-100{
    padding-top: 100px;
  }
  .image{
    margin-top: 9px;
    height: 50px;
  }
  .card1{
    height: 270px;
    border-radius: 10px;
    width: 280px;
    background-color: #ffffff;
    padding: 0px 20px;

  }
  .text-card{
    color: #000000;
    font-size: 18px;
    font-weight: Bold;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .text-card2{
    color: #000000;
    font-size: 18px;
    font-weight: Bold;
    margin-bottom: 15px;
  }
  .text-card3{
    color: #000000;
    font-size: 18px;
    font-weight: Bold;
    margin-top: 15px;
  }
  .text-card4{
    color: #000000;
    font-size: 18px;
    font-weight: Bold;
    padding-top: 25px;
    
  }
  .line-card{
    width: 100%;
    height: 2px;
    background-color: #000000;

  }