.color-navy {
    color: #003059;
  }
  
  .color-light-blue {
    color: #a7d3ec;
  }
  
  .color-light-gray {
    color: #edeced;
  }
  
  .color-red {
    color: #c23616;
  }
  
  .color-yellow {
    color: #f4d03f;
  }
  
  .bg-navy {
    background-color: #003059;
  }
  
  .bg-light-blue {
    background-color: #a7d3ec;
  }
  
  .bg-light-gray {
    background-color: #edeced;
  }
  
  .bg-red {
    background-color: #c23616;
  }
  
  .bg-yellow {
    background-color: #f4d03f;
  }
  

.off-white-bg {
    background-color: #F4F6F3;
}

.green-bg {
    background-color: #354F52;
}

.off-white-bg-trsp {
    background-color: rgba(244, 246, 243, 0.5);
}

