.side-bar{
    width: 20%;
    height: 100vh;
    background-color: blue;
}
.img{
width: 100%;
height: 150px;
background-color: red;
}
.links{
    width: 100%;
    height: 400px;
    background-color: aqua;
}
ul li{
    margin-bottom: 10px;
}
.main-dashborad{
    width: 80%;
    height:100vh;
    background-color: gray;
}
.search{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
}
.search input{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.user{
    width: 100%;
    height: 50px;
    background-color: saddlebrown;
}
.child{
    padding: 10px;
}
.child button{
    padding: 20px 20px;
    border-radius: 100px;
}
.cards{
    width: 100%;
    height: 200px;
    background-color: lawngreen;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    
}
.card{
    width: 30%;
    height: 150px;
    background-color: pink;
    border-radius: 10px;
}
.tables{
    width: 100%;
    height: 450px;
    background-color: crimson;
}
