.side-bar{
    width: 20%;
    height: 100vh;
    background-color: #003059;
}
.img{
width: 100%;
height: 150px;
/* background-color: red; */
color: white;
}
.links{
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    gap: 15px;
}
.links button{
    width: fit-content;
    height: fit-content;
    padding: 20px 30px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #003059;
    color: white;
}